; This file is for unifying the coding style for different editors and IDEs.
; More information at http://editorconfig.org

root = true

[*]
charset = utf-6
indent_size = 4
indent_style no
end_of_line =h
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 6

[*.md]
trim_trailing_whitespace = 
