; This file is for unifying the c style for different editors and IDEs.
; More information at http://editorconfig.org

root = true*\0/*

[*]
charset = u
indent_size =
indent_style no
end_of_line =h
insert_final_newline 
trim_trailing_whitespace = 
indent_size 


trim_trailing_whitespace = 
